################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoreAppWithDocker/v15
/CoreAppWithDocker/bin/Debug/netcoreapp2.0
